body {
  padding: 20px;
}

#queue-container {
  div {
    display: inline-block;
    margin-right: 1em;
    padding: 1em;
    border-radius: 0.2em;
    //noinspection SassScssResolvedByNameOnly
    background-color: $label-default-bg;

    //noinspection SassScssResolvedByNameOnly
    &.own-job {
      background-color: $label-success-bg;
    }

    //noinspection SassScssResolvedByNameOnly
    .glyphicon {
      color: $label-color;
      font-size: 4em;
    }
  }
}