body {
  padding: 20px;
}

#queue-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    $default-margin: 1em;

    display: inline-block;
    margin-right: $default-margin;
    margin-bottom: $default-margin;
    padding: $default-margin;
    border-radius: 0.2em;
    background-color: $label-default-bg;

    &.own-job {
      background-color: $label-success-bg;
    }

    .glyphicon {
      color: $label-color;
      font-size: 2em;
    }

    .job-label {
      text-transform: uppercase;
      font-weight: bold;
      color: $label-color;
      margin-left: $default-margin;
      display: inline-block;
    }
  }
}