$default-margin: 1em;
$double-margin: $default-margin * 2;
$half-margin: $default-margin / 2;

body {
  padding: $default-margin;
}

#queue-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    display: inline-block;
    margin-right: $default-margin;
    margin-bottom: $default-margin;
    padding: $default-margin;
    background-color: $label-default-bg;

    &.own-job {
      background-color: $brand-info;
    }

    .glyphicon {
      color: $label-color;
      font-size: 2em;
    }

    .job-label {
      text-transform: uppercase;
      font-weight: bold;
      color: $label-color;
      margin-left: $default-margin;
      display: inline-block;
    }
  }
}

.controls-container {
  margin-bottom: $double-margin;

  input {
    width: 40%;

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }

  button {
    width: 15%;
  }
}

#result-container {
  margin-top: $double-margin;

  .close {
    color: $brand-danger;
  }

  .team-result {
    width: calc(50% - #{$half-margin});
    display: inline-block;
    text-align: center;

    &:first-of-type {
      margin-right: $half-margin;
    }

    &:last-of-type {
      margin-left: $half-margin;
    }

    .team-wins {
      @extend h1;

      font-size: 10em;

      &.winner {
        color: $brand-success;
      }

      &.looser {
        color: $text-muted;
      }

      small {
        font-size: 0.4em;
        vertical-align: middle;
        border-bottom: 1px dashed;
      }
    }
  }
}