@(message: String)

@main("Welcome to Play") {
    <div class="controls-container">
        <input id="team-id-1" class="form-control input-lg" type="text" placeholder="id первой команды">
        <input id="team-id-2" class="form-control input-lg" type="text" placeholder="id второй команды">
        <button class="btn btn-primary btn-lg" id="duel">Дуэль!</button>
    </div>

    <br>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Очередь запросов</h3>
        </div>
        <div class="panel-body" id="queue-container">
        </div>
    </div>
}
